@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');

.btn {
  background-color: #1b3c34 !important;

}
.navbarTop {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navSec{
  width: 33%;
}
.navbarTop.scrolled {
  background-color: rgba(51, 51, 51, 0.8); 
}

.noOverlay{
  animation: fadeWhite 1.5s ease forwards;
}
.overlay{
  animation: fadeBlack 1.5s ease forwards;
}
@keyframes fadeWhite {
  from {
    background-Color: rgba(0, 0, 0, 0.6);
  }

  to {
    background-Color: rgba(0, 0, 0, 0);
  }
}
@keyframes fadeBlack {
  from {
    background-Color: rgba(0, 0, 0, 0);
  }

  to {
    background-Color: rgba(0, 0, 0, 0.6);
  }
}




.no-outline {

  border: none !important;
  outline: none !important;
}

.fLogo {
  width: 200px;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
  

}

.imagekotak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.card{
  height: 100% !important;
}

.ftext {

  padding-left: 0vw;
  animation: slide 1.5s ease forwards;
  padding-right: 0vw;
}
@media (max-width: 760px) {
  .STitle{
    font-size: 4vw;
  }
  .Title{
    font-size: 12vw;
  }
}
.Title {
  font-size: clamp(2rem, 10vw, 9rem); 

  color: rgba(255, 255, 255, 0.7) !important; /* Grey color with 70% opacity */

  font-family: 'Radio Canada', sans-serif;
  
}
.STitle{
  font-size: clamp(1Rem, 3vw, 9rem); 
  letter-spacing: 10px;
  color: #f5d740;
  margin: 0;
}

.loadmore {

  width: 200px !important;
}


.portrait .experienceContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 150%;
}

.portrait .experienceContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait .experienceDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 15px;
  height: 80px;
  font-family: 'Radio Canada', sans-serif;
  transform: translateY(0%);
}

.portrait .experienceDescription.hovered {
  animation: yUp 500ms ease forwards;

  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
}
.portrait .experienceDescription.notHovered{
  animation: yDown 500ms ease forwards;

}


@keyframes yUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes yDown {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}



@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about {
  padding: 0 6vw;
  margin: 80px 0;
  text-align: justify;
}

.about h1 {
  font-weight: bold;
}

.greenBg{
  background-color: #F2F8E7;
}

.footer{
  background-color: #1b3c34;
}

.carousel-inner {
  display: flex;
  overflow: visible;
}

.carousel-item {
  flex: 0 0 auto;
  width: 70%; /* Adjust this to control the width of each slide */
  margin: 0 10px; /* Adjust the margin to control the visibility of the adjacent slides */
  transition: transform 0.5s ease;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Change the color of the control icons */
  border-radius: 50%; /* Make the control icons circular */
}
